.title {
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'Pokemon Hollow', sans-serif;
    font-family: 'Pokemon Solid', sans-serif;
    color: #76ABAE;
    margin-bottom: -40;


}


.subtitulo{
    color: #EEEEEE;
    font-size: 40;
}

#ver-mapa{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mapa{
    border: 2px solid white;
}

body {
    font-family: "Fredoka One", cursive;
}
#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    height: 10px;
    align-items: center;
    
}

.tarjetas{
    display: flex;
    gap: 10px;
}

.tarjeta-mokepon {
    width: 200px;
    height: 100px;
    padding: 12px;
    background-color: #76ABAE;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    color: #31363F;
    justify-content: center;
    align-items: center;
    font-size: 20;
    cursor: pointer;

}

.tarjeta-mokepon img {
    height: 80px;
}
input {
    display: none;
}

input:checked + label {
    background-color: #2D31FA;

}

html {
    background-color: #222831;
}

#boton-mascota   {
    /*position: relative;*/
    display: inline-block;
    cursor: pointer;
    outline: none;

    vertical-align: middle;
    text-decoration: none;

    padding: 20;
    color: #31363F;
    background: #76ABAE;
    font-size: 30px;
    border-radius: 20px;
    margin: 12px;

}


#seleccionar-ataque {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.botones {

    background-color: #76ABAE;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    width: 100px;
    font-size: 24px;
    color: #31363F;
    cursor: pointer;
}

.botones:hover {
    transition: 2s;
}


#boton-reinicio {
    background-color: #03398a;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 20px;
    width: 116px;
    font-size: 24px;
    color: #76ABAE;
    display: flex;
    justify-content: center;
    cursor: pointer;
    height: 70px;
    align-items: center;
}



#mensajes {
    width: 480px;
    background: #76ABAE;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    height: 150px;
    border: #03398a;
    border: double;
    justify-content: center;
    align-items: center;
    color: #31363F;
    flex-direction: column;
    font-size: 24px;
}

.Caja-grande{
    display: grid;
    grid-template-areas:
    "a a a c c c b b b"
    "a a a c c c b b b";

  align-items: start;
 
}
.ataques-jugador{
    grid-area: a;

}
.ataques-enemigo{
    grid-area: b;
}

@media (max-width: 400px){
    .tarjetas{
        flex-direction: column;
    }
    .botones{
        flex-direction: column;
    }
}

.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24;
    width: 176px;
}

.ataques-jugador, .ataques-enemigo, #mensajes {

    display: flex;
    justify-items: center;
    border-radius: 20px;
    background-color: #76ABAE;
    border-color: #03398a;    
    border: double;
    align-items: center;
    margin: 30px;
    justify-content: center;
    padding: 30px;
}

#botones-movimiento {
    width: 200px;
    height: 100px;
    padding: 12px;
    background-color: #76ABAE;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    color: #31363F;
    justify-content: center;
    align-items: center;
    font-size: 20;
    cursor: pointer;
}
@media (max-width: 400px){
    .Derecha, .Izquierda, .Arriba, .Abajo button{
        width: 200px;
        height: 100px;
        padding: 12px;
        background-color: #76ABAE;
        box-sizing: border-box;
        margin: 10px;
        border-radius: 20px;
        display: flex;
        color: #31363F;
        justify-content: center;
        align-items: center;
        font-size: 20;
        cursor: pointer;
    }
}